Verschillen ten opzichte van iGov

# Overzicht toevoegingen

<details><summary>Conformance</summary>
<p>

## Conformance

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x1-3-conformance


<aside class="addition">  
This profile is based upon the international government assurance profile for OAuth 2.0 (iGov) [<cite><a class="bibref" data-link-type="biblio" href="#bib-igov.oauth2" title="International Government Assurance Profile (iGov) for OAuth 2.0">iGOV.OAuth2</a></cite>] as published by the OpenID Foundation (https://openid.net/foundation/). It should be considered a fork of this profile as the iGov profile is geared more towards the American situtation and in the Netherlands we have to deal with an European Union context.
</aside>

</p>
</details> 



<details><summary>Full Client with User Delegation</summary>
<p>

## Full Client with User Delegation

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x2-1-1-full-client-with-user-delegation


<aside class="addition">  
In addition to <code>private_key_jwt</code>, the client authentication method <code>tls_client_auth</code> [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc8705" title="OAuth 2.0 Mutual-TLS Client Authentication and Certificate-Bound Access Tokens">rfc8705</a></cite>] <em class="rfc2119">MAY</em> also be used.
</aside>

### Opmerking

`tls_client_auth` staat tegenwoordig ook al in iGov (v09).


</p>
</details> 

<details><summary>Requests to the Authorization Endpoint</summary>
<p>

## Requests to the Authorization Endpoint

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x2-3-1-requests-to-the-authorization-endpoint


<aside class="addition">
<p>Public clients <em class="rfc2119">MUST</em> apply PKCE, as per RFC7636.
As <code>code_challenge</code> the S256 method <em class="rfc2119">MUST</em> be applied.
Effectively this means that browser based and native clients <em class="rfc2119">MUST</em> include a cryptographic random <code>code_verifier</code> of at least 128 bits of entropy and the <code>code_challenge_method</code> with the value <code>S256</code>.</p>
<p>Request fields:</p>
<dl>
<dt>client_id</dt>
<dd>Mandatory. <em class="rfc2119">MUST</em> have the value as obtained during registration.</dd>
<dt>scope</dt>
<dd>Optional.</dd>
<dt>response_type</dt>
<dd>Mandatory. <em class="rfc2119">MUST</em> have value <code>code</code> for the Authorization Code Flow.</dd>
<dt>redirect_uri</dt>
<dd>Mandatory. <em class="rfc2119">MUST</em> be an absolute HTTPS URL, pre-registered with the Authorization Server.</dd>
<dt>state</dt>
<dd>Mandatory, see above. Do not use the SessionID secure cookie for this.</dd>
<dt>code_challenge</dt>
<dd>In case of using a native app as user-agent mandatory. (Eg. an UUID [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc4122" title="A Universally Unique IDentifier (UUID) URN Namespace">rfc4122</a></cite>])</dd>
<dt>code_challenge_method</dt>
<dd>In case <code>code_challenge</code> is used with a native app, mandatory. <em class="rfc2119">MUST</em> use the value <code>S256</code>.</dd>
</dl>
</aside>

### Opmerking

PKCE staat nu als MUST in iGov en S256 als "including support for the S256 code challenge method".

> [!NOTE]
>  Ook is hier in de nlgov draft PAR toegevoegd. Ditzelfde geldt niet voor iGov. 

</p>
</details> 

<details><summary>Response from the Authorization Endpoint </summary>
<p>

## Response from the Authorization Endpoint

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x2-3-2-response-from-the-authorization-endpoint


<aside class="addition">
<p>Response parameters</p>
<dl>
<dt>code</dt>
<dd>Mandatory. <em class="rfc2119">MUST</em> be a cryptographic random value, using an unpredictable value with at least 128 bits of entropy.</dd>
<dt>state</dt>
<dd>Mandatory. <em class="rfc2119">MUST</em> be a verbatim copy of the value of the <code>state</code> parameter in the Authorization Request.</dd>
</dl>
</aside>

### Opmerking

iGov (zie 3.2):
>The PKCE code_verifier value MUST contain at least 128 bits of entropy.

>state: REQUIRED. The value of the state parameter passed in in the authentication request. This value MUST match exactly.

>code: REQUIRED. The authorization code, a random string issued by the IdP to be used in the request to the token endpoint.

</p>
</details> 

<details><summary>Requests to the Token Endpoint</summary>
<p>

## Requests to the Token Endpoint

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x2-3-3-requests-to-the-token-endpoint


<aside class="addition">
<p>When using the JWT assertion, the assertion <em class="rfc2119">MUST</em> use the claims as follows:</p>
</aside>

### Opmerking

Verduidelijking of lichtere MUST? Hoe belangrijk is het letterlijk definiëren van de toegestane claims? Moet dit ook later de andere kant op?

</p>
</details> 



<details><summary>Requests to the Token Endpoint</summary>
<p>

## Requests to the Token Endpoint

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x2-3-3-requests-to-the-token-endpoint


<aside class="addition">  
In addition to <code>private_key_jwt</code>, the client authentication method <code>tls_client_auth</code> [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc8705" title="OAuth 2.0 Mutual-TLS Client Authentication and Certificate-Bound Access Tokens">rfc8705</a></cite>] <em class="rfc2119">MAY</em> also be used. Examples of this method can be found in the related documentation of the specific standards.

<p>Private Key JWT is a method of client authentication where the client creates and signs a JWT using its own private key. This method is described in a combination of RFC 7521 (Assertion Framework) and RFC 7523 (JWT Profile for Client Authentication), and referenced by OpenID Connect and FAPI 2.0 Security Profile.</p>
</aside>

### Opmerking

`tls_client_auth` staat tegenwoordig ook al in iGov. 

</p>
</details> 

<details><summary>Requests to the Token Endpoint (PS256)</summary>
<p>

## Requests to the Token Endpoint

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x2-3-3-requests-to-the-token-endpoint

<aside class="addition">
<p>In addition to above signing methods, the Authorization server <em class="rfc2119">SHOULD</em> support PS256 signing algorithm [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc7518" title="JSON Web Algorithms (JWA)">RFC7518</a></cite>] for the signing of the private_key_jwt.</p>
</aside>

### Opmerking

De "SHOULD" is een toevoeging ten opzichte van iGov. 
PS256 (en andere ciphers) staan bij iGov nu in een  van de eerste paragrafen: Global Requirements.
De reden van toevoeging was het expliciet maken van legacy support, denken wij. Is dit nog steeds nodig?

</p>
</details>

<details><summary>Client Keys</summary>
<p>
## Client Keys

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x2-3-4-client-keys

<aside class="addition">
<p>In case the Authorization Server, Resource Server and client are not operated under responsibility of the same organisation, each party <em class="rfc2119">MUST</em> use PKIoverheid certificates with OIN.
The PKIoverheid certificate <em class="rfc2119">MUST</em> be included either as a <code>x5c</code> or as <code>x5u</code> parameter, as per [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc7517" title="JSON Web Key (JWK)">rfc7517</a></cite>] §4.6 and 4.7. Parties <em class="rfc2119">SHOULD</em> at least support the inclusion of the certificate as <code>x5c</code> parameter, for maximum interoperability. 
Parties <em class="rfc2119">MAY</em> agree to use <code>x5u</code>, for instance for communication within specific environments.  </p>
</aside>

### Opmerking

Uniek voor Nederland en zal in deze vorm niet in iGov komen. Wel kunnen wij een abstracte versie van deze tekst voorstellen aan iGov, mits dit heel belangrijk is. Voor NL kunnen wij dan verwijzen naar iGov met een comment die aangeeft dat PKIO/OIN dit stukje invult.

</p>
</details>

<details><summary>Dynamic Registration</summary>
<p>

## Dynamic Registration

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x3-1-3-dynamic-registration

<aside class="addition">  
In this version of iGov-NL we recommend that the Authorization servers <em class="rfc2119">SHOULD</em> support dynamic client registration. However depending on how the future authentication architecture of the Dutch government develops in regards to OAuth we may revisit this in a future revision.  
The current requirement fits an architecture where there is a limited number of widely used authorization servers. However if in practice we start seeing a very large number of authorization servers with limited use this requirement can become a recommendation in a future version of this profile. For these authorization servers with limited use we consider mandatory support for dynamic client registration a large burden.

</aside>

### Opmerking

Een verlichting ten opzichte van iGov, maar geschreven als mogelijk tijdelijk. 

</p>
</details>

<details><summary>Discovery</summary>
<p>

## Discovery

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x3-1-5-discovery


<aside class="addition">  
Added <code>tls_client_auth</code>
</aside>

### Opmerking

`tls_client_auth` stond eerder niet in iGov, maar nu wel (zie boven). Deze toeviging is louter in een voorbeeld.

</p>
</details>

<details><summary>Discovery</summary>
<p>

## Discovery

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x3-1-5-discovery


<aside class="addition">
<p>iGov requires that the authorization server provides an OpenIDConnect service discovery endpoint. Recently OAuth 2.0 Authorization Server Metadata [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc8414" title="OAuth 2.0 Authorization Server Metadata">rfc8414</a></cite>] has been finalized, this provide the same functionality in a more generic way and could replace this requirement in a future version of the iGov-NL profile.</p>
</aside>

### Opmerking

Gedateerde tekst. RFC8414 staat tegenwoordig vermeld in iGov:

> jwks_uri: REQUIRED. The fully qualified URI of the server's JWK as defined in OAuth 2.0 Authorization Server Metadata [RFC8414]. If the self_signed_tls_auth method is used, a jwks_uri MUST be registered and MUST include a certificate.

De vraag is nog - kan dit stukje in iGov volledig worden gedekt met een referentie naar [RFC8414]. Zo ja, dan moeten we dat upstream voorstellen.

</p>
</details>

<details><summary>RefreshTokens</summary>
<p>

## RefreshTokens

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x3-1-9-refreshtokens


<aside class="addition">  
Refresh tokens for public clients must either be sender-constrained or one-time use. From <cite><a data-matched-text="[[[ietf-oauth-v2-1-10-refresh-token-grant]]]" href="https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-10#name-refresh-token-grant">The OAuth 2.1 Authorization Framework: Refresh Token Grant</a></cite>
</aside>

### Opmerking

De regel "Authorization servers MAY issue refresh tokens to clients." had in draft 03 voorwaarden en tegenwoordig niet. iGov verplicht tegenwoordig "sender-constrain access tokens":

>All clients MUST use proof of possession to sender-constrain access tokens using either OAuth 2.0 Mutual-TLS Client Authentication and Certificate-Bound Access Tokens [RFC8705] or OAuth 2.0 Demonstrating Proof of Possession (DPoP) [RFC9449].

Bovendien komt deze voorwaarde nu uit [BCP 240 / RFC 9700](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics#section-2.2.2).

</p>
</details>

<details><summary>Token Response</summary>
<p>

## Token Response

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x3-1-10-token-response


<aside class="addition">
<p>The Token Response has the following contents:</p>
<dl>
<dt>access_token</dt>
<dd>Mandatory. Structured access token a.k.a. a JWT Bearer token. The JWT <em class="rfc2119">MUST</em> be signed.</dd>
<dt>token_type</dt>
<dd>Mandatory. The type for a JWT Bearer token is <code>Bearer</code>, as per [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc6750" title="The OAuth 2.0 Authorization Framework: Bearer Token Usage">rfc6750</a></cite>]</dd>
<dt>refresh_token</dt>
<dd>Under this profile, refresh tokens are supported.</dd>
<dt>expires_in</dt>
<dd>Optional. Lifetime of the access token, in seconds.</dd>
<dt>scope</dt>
<dd>Optional. Scope(s) of the access (token) granted, multiple scopes are separated by whitespace. The scope <em class="rfc2119">MAY</em> be omitted if it is identical to the scope requested.</dd>
</dl>
<p>For best practices on token lifetime see section <a href="#token-lifetimes">Token Lifetimes</a>.</p>
</aside>

### Opmerking

Geen directe toevoeging maar eerder informatie over iets dat in OAuth 2.0 zelf zit:
https://www.rfc-editor.org/rfc/rfc6749#section-5.1

</p>
</details>

<details><summary>JWT Bearer Tokens (PS256)</summary>
<p>

## JWT Bearer Tokens

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x3-2-1-jwt-bearer-tokens


<aside class="addition">
<p>In addition to above signing methods, the Authorization server <em class="rfc2119">SHOULD</em> support PS256 signing algorithm [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc7518" title="JSON Web Algorithms (JWA)">RFC7518</a></cite>] for the signing of the JWT Bearer Tokens.</p>
</aside>

### Opmerking

Herhaling van eerdere toevoeging.

</p>
</details>

<details><summary>JWT Bearer Tokens (Resource + OIN)</summary>
<p>

## JWT Bearer Tokens

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x3-2-1-jwt-bearer-tokens


<aside class="addition">
<p>How to select or obtain the key to be used for encryption of an access token is out of scope of this profile.
A early draft of "Resource Indicators for OAuth 2.0" exist and could be used. This draft describes usage of the <code>resource</code> parameter to indicate the applicable resource server.</p>
<p>In case the Authorization Server, Resource Server and client are not operated under responsibility of the same organisation, each party <em class="rfc2119">MUST</em> use PKIoverheid certificates with OIN for encryption.</p>
</aside>

### Opmerking

"Resource Indicators for OAuth 2.0" is tegenwoordig RFC 8707. Deze wordt echter ook niet in de laatste draft van iGov vermeld. Zin over OIN is een kopie van een eerder blok.

Vinden wij het belangrijk om de out-of-band uitwisseling van encryption methodieken belangrijk genoeg om te mleden in het profiel? Kan het ook upstream?

</p>
</details>

<details><summary>Claims for Authorization Outside Delegation</summary>
<p>

## Claims for Authorization Outside of Delegation Scenarios

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x3-5-1-claims-for-authorization-outside-of-delegation-scenarios


<aside class="addition">
<p>If there is a need to include resource owner memberships in roles and groups that are relevant to the resource being accessed, entitlements assigned to the resource owner for the targeted resource that the authorization server knows about. The authorization server <em class="rfc2119">SHOULD</em> include such attributes as claims in a JWT access token as defined in section 2.2.3.1 of [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc9068" title="JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens">rfc9068</a></cite>].</p>
</aside>

### Opmerking

Een zeer voorwaardelijke "SHOULD". Zin dat voorwaarde vormt lijkt incompleet.

</p>
</details>

<details><summary>Protecting Resources</summary>
<p>

## Protecting Resources

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x4-1-protecting-resources


<aside class="addition">
<aside class="example" id="example-14"><div class="marker">
<a class="self-link" href="#example-14">Example<bdi> 14</bdi></a>
</div>
<p>Request:</p>
<pre><code aria-busy="false" class="hljs http"><span class="hljs-keyword">GET</span> <span class="hljs-string">/resource</span> <span class="hljs-meta">HTTP/1.1</span>
<span class="hljs-attribute">Authorization</span><span class="hljs-punctuation">: </span>Bearer 4f626847-91b1-3417-a91e-c5627f377ae1
<span class="hljs-attribute">Accept</span><span class="hljs-punctuation">: </span>text/plain, application/json, application/*+json, */*
<span class="hljs-attribute">Host</span><span class="hljs-punctuation">: </span>resource.com
<span class="hljs-attribute">Connection</span><span class="hljs-punctuation">: </span>Keep-Alive
<span class="hljs-attribute">User-Agent</span><span class="hljs-punctuation">: </span>Apache-HttpClient/4.2.3 (java 1.5)
</code></pre>
<p>Response:</p>
<pre><code aria-busy="false" class="hljs css">  HTTP/<span class="hljs-number">1.1</span> <span class="hljs-number">200</span> OK
  <span class="hljs-attribute">Content</span>-Type: application/json
  {
   "sub": <span class="hljs-string">"2.48289761001e+11"</span>,
   <span class="hljs-string">"name"</span>: <span class="hljs-string">"Jane Doe"</span>,
   <span class="hljs-string">"given_name"</span>: <span class="hljs-string">"Jane"</span>,
   <span class="hljs-string">"family_name"</span>: <span class="hljs-string">"Doe"</span>,
   <span class="hljs-string">"preferred_username"</span>: <span class="hljs-string">"j.doe"</span>,
   <span class="hljs-string">"email"</span>: <span class="hljs-string">"janedoe@example.com"</span>,
   <span class="hljs-string">"picture"</span>: <span class="hljs-string">"http://example.com/janedoe/me.jpg"</span>
  }
</code></pre>
</aside>
</aside>

### Opmerking

Louter een toevoeging van een niet-normatief voorbeeld.

</p>
</details>

<details><summary>Connections with Clients</summary>
<p>

## Connections with Clients

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x4-2-connections-with-clients


<aside class="addition">
<p>A Protected Resource under this profile <em class="rfc2119">MUST NOT</em> accept access tokens passed using the query parameter method.</p>
<p>A Protected Resource under this profile <em class="rfc2119">SHOULD</em> verify if the client is the Authorized party (azp) when client authentication is used. See section <a href="#advanced-oauth-security-options">Advanced OAuth Security Options</a> as well.</p>
</aside>

### Opmerking

Beide opmerkingen komen uit best practices. Staat ook in nieuwe iGov versie.

</p>
</details>

<details><summary>Proof of Possession Tokens</summary>
<p>

## Proof of Possession Tokens

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x5-1-proof-of-possession-tokens


<aside class="addition">
<p>Proof of possession can be implemented using various methods. An example of such an implementation is using TLS with mutual authentication, where the client is using a PKIoverheid certificate. The authorized party (<code>azp</code>) can then be verified with the client certificate to match the authorized party.
As an alternative, the authorization server can include a <code>cnf</code> parameter in the JWT by the authorization server, see [<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc7800" title="Proof-of-Possession Key Semantics for JSON Web Tokens (JWTs)">rfc7800</a></cite>]. The key referenced in <code>cnf</code> can be validated using a form of client authentication, e.g. using an <code>private_key_jwt</code> or <code>tls_client_auth</code>[<cite><a class="bibref" data-link-type="biblio" href="#bib-rfc8705" title="OAuth 2.0 Mutual-TLS Client Authentication and Certificate-Bound Access Tokens">rfc8705</a></cite>].</p>
</aside>

### Opmerking

RFC 7800 en 8705 staat tegenwoordig in iGov. DPoP wordt specifiek vereist. Is er behoefte aan aparte sectie over PoP?

</p>
</details>

<details><summary>Security Considerations</summary>
<p>

## Security Considerations

https://gitdocumentatie.logius.nl/publicatie/api/oauth/v1.1.0/#x6-security-considerations


<aside class="addition">
<p>In addition to the Best Current Practice for TLS, it is highly <em class="rfc2119">RECOMMENDED</em> for all conforming implementations to incorporate the TLS guidelines from the Dutch NCSC into their implementations. If these guidelines are applied:</p>
<ul>
<li>For back-channel communication, the guidelines categorized as "good" <em class="rfc2119">MUST</em> be applied.</li>
<li>For front-channel communication, the guidelines for "good" <em class="rfc2119">MUST</em> be applied and the guidelines for "sufficient" <em class="rfc2119">MAY</em> be applied, depending on target audience and support requirements.</li>
<li>Guidelines categorized as "insufficient" <em class="rfc2119">MUST NOT</em> be applied and those categorized as "phase out" <em class="rfc2119">SHOULD NOT</em> be used.</li>
</ul>
</aside>

### Opmerking

Informatieve herinnering aan de NCSC-richtlijnen.

</p>
</details>
